{% extends "base.html" %}

{% block head %}

{% endblock head %}

{% block body %}
<section class="container mt-5">
    <h1 class="text-center mb-4">Entre em Contato!</h1>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card h-100 border border-dark-subtle rounded">
                <div class="card-body text-center ">
                    <h5 class="card-title">Endereço</h5>
                    <p class="card-text">
                        Rua 7 de Setembro, 1234<br>
                        Centro<br>
                        Chopinzinho, Paraná<br>
                        CEP 85560-000
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100 border border-dark-subtle rounded">
                <div class="card-body text-center ">
                    <h5 class="card-title">Telefone</h5>
                    <p class="card-text">3242-2323</p>
                    <p class="card-text">Entre em contato com esse número e te <br>encaminharemos
                    para um de nossos agrônomos!</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 ">
            <div class="card h-100 border border-dark-subtle rounded">
                <div class="card-body text-center">
                    <h5 class="card-title">Email</h5>
                    <p class="card-text">contato@agrimax.com.br</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100 border border-dark-subtle rounded">
                <div class="card-body text-center ">
                    <h5 class="card-title">Horário de Funcionamento</h5>
                    <p class="card-text">
                        Segunda a Sexta: 7:30h - 17h<br>
                        Sábado: 8h - 11:30h<br>
                        Domingo: Fechado
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}