{% extends "base.html" %}

{% block body %}
{% include "navbar.html" %}

<header>
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="background-image position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
                        <p class="fs-1">Aqui na Agrimax</p>
                        <p class="fs-5">Oferecemos os melhores insumos agrícolas para impulsionar sua produção! Com produtos de alta qualidade e suporte especializado, estamos aqui para ajudá-lo a alcançar o máximo rendimento em sua safra!</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Adicione mais conteúdo abaixo da imagem, se necessário -->
        <div class="row">
            <div class="container p-4 d-flex justify-content-center">
                <p class="fs-1">O que oferecemos?</p>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid" style="background-image: url{{ url_for('static', filename='fotos/cement-texture.jpg') }} background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="d-flex justify-content-center">
        <div class="card mx-5" style="width: 18rem;">
            <img src="{{ url_for('static', filename='fotos/lavoura1.jpeg') }}" class="card-img-top" alt="Atendimento">
            <div class="card-body">
            <p class="card-text">Proporcionamos o melhor atendimento da região.</p>
            </div>
        </div>

        <div class="card mx-5" style="width: 18rem;">
            <img src="{{ url_for('static', filename='fotos/lavoura2.jpeg') }}" class="card-img-top" alt="Qualidade">
            <div class="card-body">
            <p class="card-text">Produtos de qualidade e com preços excelentes.</p>
            </div>
        </div>

        <div class="card mx-5" style="width: 18rem;">
            <img src="{{ url_for('static', filename='fotos/lavoura3.jpeg') }}" class="card-img-top" alt="Entrega">
            <div class="card-body">
            <p class="card-text">Entrega rápida, diretamente em sua propriedade.</p>
            </div>
        </div>
    </div>
</div>

{% if previsao %}
    {% for previsao in previsoes_tempo %}
        <div class="previsao-tempo">
            <p>Data: {{ previsao.data_previsao }}</p>
            <p>Probabilidade de chuva: {{ previsao.probabilidade_chuva }}</p>
            <img src="{{ url_for('static', filename='fotos/iconestempo/' + previsao.icone_tempo + '.png') }}" alt="Icone Tempo">
        </div>
    {% endfor %}
{% endif %}



{% include "rodape.html" %}
{% endblock %}
