{% extends "base.html" %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand " href="{{ url_for('homepage') }}">
            <img src="{{ url_for('static', filename='fotos/agrimaxlogo.png') }}" alt="Logo" width="160" height="60" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto mx-5">
                <a class="nav-link mx-2 active" aria-current="page" href="#">Sobre</a>
                <a class="nav-link mx-2" href="#">Serviços</a>
                <a class="nav-link mx-2" href="#">Contato</a>
            </div>
        </div>
    </div>
</nav>
  {% endblock body %}