<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <h5>Localização</h5>
                <!-- Aqui você pode adicionar um mapa da localização, substituindo o conteúdo abaixo pelo código do mapa -->
                <a href="https://encurtador.com.br/cynLN" target="_blank" class="text-white">
                    R. 7 de Setembro - Centro, <br>Chopinzinho/PR</a>
            </div>
            <div class="col-md-4">
                <h5>Instagram</h5>
                <!-- Substitua "SEU_INSTAGRAM" pelo seu nome de usuário do Instagram -->
                <a href="https://www.instagram.com/SEU_INSTAGRAM" class="text-white">Siga-nos no Instagram</a>
            </div>
            <div class="col-md-4">
                <h5>Contato</h5>
                <p>Telefone: (XX) XXXX-XXXX</p>
                <p>Email: seuemail@example.com</p>
            </div>
        </div>
    </div>
</footer>