<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <h5>Localização <i class="fa-solid fa-location-dot"></i></h5>
                <a href="https://encurtador.com.br/cynLN" target="_blank" rel="noopener noreferrer" class="text-white">
                    R. 7 de Setembro - Centro, <br>Chopinzinho/PR</a>
            </div>
            <div class="col-md-4">
                <h5>Instagram <i class="fa-brands fa-instagram"></i></h5>
                <a href="https://www.instagram.com/agrimaxagronegocios?igsh=MXdtNjM1MWpiNXlpZQ==" class="text-white">Siga-nos no Instagram</a>
            </div>
            <div class="col-md-4">
                <h5>Contato <i class="fa-solid fa-address-book"></i></h5>
                <p>Telefone: (46) 3242-2323 <i class="fa-solid fa-phone"></i></p>
                <p>Email: seuemail@example.com <i class="fa-solid fa-envelope"></i></p>
            </div>
        </div>
    </div>
</footer>