{% extends "base.html" %}

{% block body %}

<section class="container mt-5">
    <h1 class="display-4 text-center fw-semibold mb-4">Nossos Serviços</h1>
    <div class="row mt-5">
        <div class="col-md-4 mb-4 text-center"> 
            <i class="fas fa-people-group fa-5x mb-3" style="color: #107e12"></i> 
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Assistência especializada</h5>
                    <p class="card-text">Conte com nossa equipe especializada para oferecer suporte técnico e assistência personalizada em todas as etapas do seu processo agrícola.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 text-center">
            <i class="fas fa-bug fa-5x mb-3" style="color: #d01616"></i> 
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manejo de Pragas e Doenças</h5>
                    <p class="card-text">Proteja sua plantação contra pragas e doenças com nossas soluções de manejo integrado, garantindo uma colheita saudável e produtiva.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 text-center"> 
            <i class="fas fa-truck fa-5x mb-3" style="color: #107e12"></i>
            <div class="card"> 
                <div class="card-body">
                    <h5 class="card-title">Entrega Rápida</h5>
                    <p class="card-text">Nossa equipe se dedica a fornecer uma entrega rápida e eficiente, garantindo que você receba seus insumos agrícolas no prazo e com qualidade.</p>
                </div>
            </div>
        </div>        
    </div>
</section>

{% endblock body %}
